[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
flask = "*"
tensorflowjs = "==1.0.1"
"tf-nightly-2.0-preview" = "==2.0.0.dev20190415"
"tensorflow-estimator-2.0-preview" = "==1.14.0.dev2019041500"
tf-estimator-nightly = "==1.14.0.dev2019060501"
tb-nightly = "==1.14.0a20190603"
tensorflow = "==2.0.0b0"
flask-pbj = {git = "https://github.com/rrbutani/flask-pbj.git"}
numpy = "~=1.15.1"
protobuf = "~=3.8.0"

[dev-packages]
pytest = "~=4.6.3"
black = "~=19.3b0"
mypy = "~=0.701"

[pipenv]
allow_prereleases = true

[scripts]
deps = "scripts/install"
dev-deps = "scripts/install-dev"
build = "scripts/build"
clean = "scripts/clean"
run = "scripts/with install build -- python -m server"
lint = "scripts/with install-dev install build -- mypy server"
format = "scripts/with install-dev -- black ."
test = "scripts/with install-dev install build -- pytest"
