<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Web Demos Examples!</title>
  <link rel="shortcut icon" href="https://www.gstatic.com/devrel-devsite/v595dc2b5326ecd7de309fb4a71a7facdb2414a46fa087cc37cc0f175714dd5bb/tensorflow/images/favicon.png">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#8b0000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#8b0000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#8b0000">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
</head>
<body>

  <ul class="collection with-header">
    <li class="collection-header"><h4>Demos</h4></li>
    {% for ex_link, ex_name in examples %}
      <a style="font-size: 20px;" class="collection-item" href="{{ ex_link }}">{{ex_name}}</a>
    {% endfor %}
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
